In [1]:
# Análise do Dataset heart

In [2]:
from platform import python_version

In [3]:
#importando pacote para análise de dados
import matplotlib.pyplot as plt
import matplotlib as mat
import numpy as np
import pandas as pd
from pandas import DataFrame
%matplotlib inline

In [4]:
# carregando os dados de treino
treino = pd.read_excel('C:/Users/janaina/Documents/PythonFundamentos/heart_train.xlsx')

In [5]:
# carregando os dados de teste
teste = pd.read_excel('C:/Users/janaina/Documents/PythonFundamentos/heart_test.xlsx')

In [6]:

treino

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,40,1,0,110,167,0,0,114,1,2.0,1,0,3,0
1,57,1,0,150,276,0,0,112,1,0.6,1,1,1,0
2,41,0,1,126,306,0,1,163,0,0.0,2,0,2,1
3,37,0,2,120,215,0,1,170,0,0.0,2,0,2,1
4,62,1,0,120,267,0,1,99,1,1.8,1,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,58,1,0,150,270,0,0,111,1,0.8,2,0,3,0
204,58,1,0,125,300,0,0,171,0,0.0,2,2,3,0
205,77,1,0,125,304,0,0,162,1,0.0,2,3,2,0
206,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
207,70,1,2,160,269,0,1,112,1,2.9,1,1,3,0

In [7]:
# tipo dos dados
type(treino)

pandas.core.frame.DataFrame

In [8]:
# total de linhas e colunas
treino.shape

(208, 14)

In [9]:
teste

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,77,1,0,125,304,0,0,162,1,0.0,2,3,2
1,55,1,0,160,289,0,0,145,1,0.8,1,1,3
2,70,1,2,160,269,0,1,112,1,2.9,1,1,3
3,64,0,2,140,313,0,1,133,0,0.2,2,0,3
4,53,0,2,128,216,0,0,115,0,0.0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,54,1,0,120,188,0,1,113,0,1.4,1,1,3
94,65,1,0,135,254,0,0,127,0,2.8,1,1,3
95,44,1,2,140,235,0,0,180,0,0.0,2,0,2
96,58,1,0,128,216,0,0,131,1,2.2,1,3,3
97,54,1,0,122,286,0,0,116,1,3.2,1,2,2

In [10]:
# tipo dos dados
type(teste)

pandas.core.frame.DataFrame

In [11]:
# total de linhas e colunas
teste.shape

(98, 13)

In [12]:
# definindo a variavel x de treino
# excluindo a coluna target
x_treino = treino.drop('target', axis =1)

In [13]:
x_treino

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,40,1,0,110,167,0,0,114,1,2.0,1,0,3
1,57,1,0,150,276,0,0,112,1,0.6,1,1,1
2,41,0,1,126,306,0,1,163,0,0.0,2,0,2
3,37,0,2,120,215,0,1,170,0,0.0,2,0,2
4,62,1,0,120,267,0,1,99,1,1.8,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,58,1,0,150,270,0,0,111,1,0.8,2,0,3
204,58,1,0,125,300,0,0,171,0,0.0,2,2,3
205,77,1,0,125,304,0,0,162,1,0.0,2,3,2
206,55,1,0,160,289,0,0,145,1,0.8,1,1,3
207,70,1,2,160,269,0,1,112,1,2.9,1,1,3

In [14]:
# definindo variavel y de treino
y_treino = treino.target

In [15]:
# definindo a variavel x de teste
x_teste = teste

In [16]:
# importando o algoritmo (regressão linear)
from sklearn.linear_model import LinearRegression

In [17]:
# criando o modelo (objeto de regressão linear)
regr = LinearRegression()

In [18]:
# tipo do objeto
type (regr)

sklearn.linear_model._base.LinearRegression

In [19]:
# treinando o modelo
regr.fit(x_treino,y_treino)

LinearRegression()

In [20]:
regr.score(x_treino, y_treino)

0.4889076869525655

In [21]:
# coeficientes
print("Coeficient: ", regr.intercept_)
print("Numero de Coeficientes: ", len(regr.coef_))

Coeficient:  0.8181448057145482
Numero de Coeficientes:  13

In [22]:
# definindo a variavel y de teste
y_teste = regr.predict(x_teste)

In [23]:
# score entre 0.0  e 1.0, onde quant mais proximo de 1.0 melhor
regr.score(x_teste, y_teste)

1.0

In [24]:
y_teste

array([ 0.17090028, -0.01970424,  0.07032539,  0.80351533,  1.22393605,
        0.93632045,  0.23420813,  0.89233184,  0.04453142, -0.23420784,
        0.65840287,  0.96490007,  0.62471521,  0.84015417,  0.32868117,
        0.48266536,  0.91859933,  0.45603364,  0.83795321,  0.58888953,
        0.33351505, -0.34776468,  0.5668828 , -0.10685368,  0.98175699,
        0.21335768, -0.03561569,  0.389224  ,  0.48026763,  0.60262602,
        0.79870638, -0.13265987,  0.76195139, -0.11117984,  0.97117854,
       -0.25084968,  0.67744203,  0.29923178,  1.05603221,  0.34491678,
       -0.14104127,  0.64398865,  0.84013138,  0.72399832,  0.67580982,
        0.70633282,  0.59598559, -0.13005994,  0.84431591,  0.60648483,
        0.42671218,  0.65341554,  0.74831569,  0.89469275, -0.0721535 ,
        1.15382351,  0.19578743,  0.57931164,  0.70415408,  0.00302983,
       -0.27048027,  0.46910325,  0.48505372,  0.67528602,  0.95685563,
        0.09793545,  1.10017642,  0.73605959, -0.0597336 ,  0.62328507,
        0.58958043,  0.66269359,  0.31681448,  0.68435131,  0.23501496,
        0.06070966,  1.11204421,  0.15337511,  1.14469214,  0.59661818,
        0.72226788,  1.0119725 ,  0.95719702,  0.04895707,  0.83546947,
        0.2298039 ,  0.41695644,  0.9944145 , -0.19863192,  0.63607963,
        0.55206003,  1.00398825,  0.0895785 ,  0.16868267,  0.00124621,
        0.9278129 , -0.22555495, -0.10441787])

In [25]:
# calculo do erro médio no treino
print("mse: %.2f" % np.mean((regr.predict(x_treino)-y_treino)**2))

mse: 0.13

In [26]:
# calculo do erro médio no teste
print("mse: %.2f" % np.mean((regr.predict(x_teste)-y_teste)**2))

mse: 0.00

In [27]:
# Aplicando regressão em uma variavel
#regr1 = LinearRegression()
#regr.fit(x[['age']], y)

# coeficientes
#print("Coeficient: ", regr.intercept_)
#print("Numero de Coeficientes: ", len(regr.coef_))

#descartada pois o resultado não foi satisfatório

In [28]:
# Aplicando regressão em duas variaveis
#regr2 = LinearRegression()
#regr.fit(x[['age','sex']], y)

# coeficientes
#print("Coeficient: ", regr.intercept_)
#print("Numero de Coeficientes: ", len(regr.coef_))

#descartada pois o resultado não foi satisfatório